
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isSignedIn() {
      return request.auth != null;
    }

    function isOwner(userId) {
      return request.auth.uid == userId;
    }

    function isAdmin() {
      return isSignedIn() && request.auth.token.role == 'central-admin';
    }

    function isClinicAdmin() {
      return isSignedIn() && request.auth.token.role == 'clinic-admin';
    }
    
    function isDoctor() {
      return isSignedIn() && request.auth.token.role == 'doctor';
    }
    
    function isAdvertiser() {
       return isSignedIn() && request.auth.token.role == 'advertiser';
    }

    function isExistingDoc() {
      return resource != null;
    }
    
    function incomingData() {
      return request.resource.data;
    }

    match /users/{userId} {
      allow get: if isSignedIn() || isAdmin();
      allow list: if isSignedIn() || isAdmin();
      allow create: if isOwner(userId) || isAdmin();
      allow update: if isOwner(userId) || isAdmin();
      allow delete: if isOwner(userId) || isAdmin();
    }
    
    match /specialties/{specialtyId} {
      allow get, list: if isSignedIn() || isAdmin();
      allow create, update, delete: if isAdmin();
    }

    match /clinics/{clinicId} {
      allow get, list: if isSignedIn() || isAdmin();
      allow create: if isAdmin();
      allow update: if (isAdmin() && isExistingDoc()) || isAdmin();
      allow delete: if (isAdmin() && isExistingDoc()) || isAdmin();
    }

    match /clinics/{clinicId}/patients/{patientId} {
      allow get, list: if isSignedIn() || isAdmin();
      allow create: if isAdmin() && incomingData().clinicId == clinicId;
      allow update: if (isAdmin() && isExistingDoc()) || isAdmin();
      allow delete: if (isAdmin() && isExistingDoc()) || isAdmin();
    }

    match /clinics/{clinicId}/tokens/{tokenId} {
      allow get, list: if isSignedIn() || isAdmin();
      allow create: if (isSignedIn() && incomingData().clinicId == clinicId) || isAdmin();
      allow update: if (isAdmin() && isExistingDoc()) || isAdmin();
      allow delete: if (isAdmin() && isExistingDoc()) || isAdmin();
    }

    match /consultations/{consultationId} {
      allow get: if (isAdmin() || isDoctor()) && isExistingDoc() || isAdmin();
      allow list: if isAdmin();
      allow create: if (isAdmin() || (isDoctor() && isOwner(incomingData().doctorId))) || isAdmin();
      allow update: if ((isAdmin() || isDoctor()) && isExistingDoc()) || isAdmin();
      allow delete: if ((isAdmin() || isDoctor()) && isExistingDoc()) || isAdmin();
    }

    match /screens/{screenId} {
      allow get, list: if true || isAdmin();
      allow create: if isAdmin();
      allow update: if (isAdmin() && isExistingDoc()) || isAdmin();
      allow delete: if (isAdmin() && isExistingDoc()) || isAdmin();
    }

    match /advertisements/{advertisementId} {
      allow get, list: if true || isAdmin();
      allow create: if (isAdvertiser() || isAdmin()) && (isOwner(incomingData().advertiserId) || isAdmin());
      allow update: if ((isOwner(resource.data.advertiserId) || isAdmin()) && isExistingDoc() && (incomingData().advertiserId == resource.data.advertiserId || isAdmin()));
      allow delete: if (isOwner(resource.data.advertiserId) || isAdmin()) && isExistingDoc();
    }

    match /campaigns/{campaignId} {
      allow get, list: if isSignedIn() || isAdmin();
      allow create: if isAdmin();
      allow update: if (isAdmin() && isExistingDoc()) || isAdmin();
      allow delete: if (isAdmin() && isExistingDoc()) || isAdmin();
    }

    match /impressions/{impressionId} {
      allow get, list: if isAdmin();
      allow create: if isAdmin();
      allow update: if false;
      allow delete: if false;
    }
  }
}
